.body{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* background-color: black; */
}
*{
    text-decoration: none;
}
.navbar{
    background-color: rgb(227, 156, 204);
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}
.logo a{
    font-size: 35px;
    font-weight: 600;
    font-family: cursive;
    color: rgb(39, 15, 2);
}
li{
    list-style: none;
    display: inline-block;
}
li a {
    color: rgb(31, 23, 23);
    font-size: 19px;
    font-weight: bold;
    margin-right: 25px;
}
.button{
    background-color: rgb(48, 46, 46);
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;
    width: 90px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.logo-container{
    display: flex;
     flex-direction: column;
     align-items: center; 
    justify-items: center;
     height: 100%; 

    margin-top: 0;
}
 .cafe{
    display: flex;

    justify-content: center;
    font-family: cursive;
    font-size: 20PX;
    padding-bottom: 50px;
    width: 100%; 
}
.caffes{
    width: 100%;
     display: flex;
     gap: 20px;
     justify-content: space-evenly; 
    flex-wrap: wrap; 
}
.card{
    flex: 1;
    border-radius: 10px;
    padding: 3px 6px 10px 1px;
    width: 20%;
    background-color: rgb(246, 195, 212);
    justify-content: space-between;
    flex-wrap: wrap;

}
.card > img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.card >h1 ,h3{
    text-align: center;

}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 159, 117);
}
.cart>.button{
    border: none;
    outline: none;
    background-color: rgb(248, 159, 117);
}
.cart>button>a{
    text-decoration: none;
    font-size: 1rem;
    color: #100f0f;
}
@media(min-width:426px)and(max-width:769){
.caffes{
    grid-template-columns: 1fr 1fr;
   
}
.title{
    width: 100%;
}
}
    

/*LATOP*/
@media(min-width:769px)and(max-width:1025px){
    .logo{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  
}
}
/*LARGE LAPTOP*/
@media(min-width:1026px)and(max-width:1441px){
     .logo{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
}